{% extends '@PidevUser/layout.html.twig' %}
{% block title %}
    My profile
{% endblock %}
{%block Page_title  %}my Profile {% endblock %}
{% block Content %}

    <div class="row">

        <div class="col-md-12">
            <div class="agent agent-page">

                <div class="agent-avatar">
                    <img src="{{ Profile.photo }}" alt="">
                </div>

                <div class="agent-content">
                    <div class="agent-name">
                        <h4>{{ Profile.pseudo }}</h4>

                    </div>

                    <p>{{ Profile.description }}</p>

                    <ul class="agent-contact-details">
                        <li><i class="sl sl-icon-call-in"></i>({{ Profile.phonenumber }}</li>
                        <li><i class="fa fa-envelope-o "></i><a href="#">{{ Profile.idMembre.email }}</a></li>
                    </ul>

                    <ul class="social-icons">
                        <li><a class="facebook" href="{{ Profile.facebook }}"><i class="icon-facebook"></i></a></li>
                        <li><a class="twitter" href="{{ Profile.twitter }}"><i class="icon-twitter"></i></a></li>
                        <li><a class="gplus" href="{{ Profile.google }}"><i class="icon-gplus"></i></a></li>
                        <li><a class="linkedin" href="{{ Profile.linkedin }}"><i class="icon-linkedin"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

        <div class="agent agent-name agent-content">
        <h2 class="agent-name"> Publications</h2>

<form method="post" action="{{ path('AddPub', {'id': Profile.id} ) }}" class="agent-form">
            <textarea name="PublicationAdd" cols="3" rows="1" id="PublicationAdd" placeholder="Publish Something" spellcheck="true" required="required" class="error"></textarea>
    <span class="im im-icon-File-Upload"></span>

            <input class="submit button" id="submit" value="Publish" type="submit">
        </div>
    </div>
    </form>

<div class="col-md-12">
<diV class="listings-container listing-">

    {% for Pub in Pubs %}
        <div class="listing-item centered">

            <div class="listing-title">

                <h2 class="agent-title">{{ Profile.idMembre.username }}</h2>
            </div>


            <h5 class="listing-address popup-gmaps">{{ Pub.date |date('Y-M-d') }}</h5>
            <h4>{{ Pub.contenu }}</h4>
            <diV class="clearfix"></diV>
            {% if Pub.picpath is not null %}
                <img src="{{ Pub.picpath }}"  class="list-layout center-block">
            {% endif %}



 <div class="listing-footer">
     <h4 class="headline margin-bottom-35">Comments(2)</h4>
     {% for com in Coms %}
         {% if com.idPublication==Pub %}

             <h5>{{ com.contenu }}</h5>

            {% endif %}
         {% endfor %}
     <div>
         <form method="post" action="">
                <input type="textarea" name="comment" >
                <input type="submit" value="comment"  >
         </form>
     </div>
</div>
        </div>


        {% endfor %}


</diV>
</div>

{% endblock %}